mixin service-price(title, category, categoryAbout, priceData)
	// Service tags
	.service-price&attributes(attributes)
		.service-price__body.container
			if (title)
				h2.service-price__title.h2-t= title
			.service-price__info
				.service-price__subtitle
					h4.service-price__info-category.h4-t= category
					if (categoryAbout)
						p.service-price__info-category-about.b-txt= categoryAbout
				ul.service-price__info-list
					each info in priceData
						li.service-price__item
							.service-price__item-info
								p.service-price__item-name= info.name
								p.service-price__item-price= info.price
									span ₽
							.service-price__item-about
								p.b-txt= info.about
